# apps/web/.env.local
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user-email
SMTP_PASS=password
SMTP_FROM='"Myelin App" <example@gmail.com>'

DATABASE_URL="postgresql://postgres.dbuniqueid:password@dbserver.supabase.com:6543/postgres"

SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET="google client secret"

NEXT_PUBLIC_SUPABASE_URL=https://dbuniqueid.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=dnAnonKey